<section class="page-header">
    <div class="page-header-bg" style="background-image: url(/img/6.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>Département</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i>  </a>
                </li>
                
                
            </ul>
        </div>
    </div>
</section>

<body>

    <div class="sidebar">
        <div class="PageTitle">Département</div>
        <div>
            <div class="gl-title-left-blue-no-shadow"></div>
            <p>
            </p>
            <ul>
                <li><a href="../si">› SI</a></li>
                <li><a href="../tic">› TIC</a></li>
                <li><a href="../mpii">› MPII</a></li>
                <li><a href="../mpilc">› MPILC</a></li>
                <li><a href="../mreesc">› MREESC</a></li>
            </ul>
        </div>
    </div>

</body>