
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #59c3df;">
    
    <a class="navbar-brand" href="">ISIMEDenine</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
       <ul class="nav justify-content-end">
           <li class="nav-item">
             <a class="nav-link" href="/core/propos">A propos</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/core/actualites">Actualités</a>
           </li>
           
           <li class="nav-item">
               <a class="nav-link" href="/core/formation">Formation</a>
             </li>

             <li class="nav-item">
              <a class="nav-link" href="/core/activites">Nos Activités</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/core/contact">Contact</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/core/connecter">Connecter</a>
            </li>
         </ul>
     </div>

 </nav>