<header>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #59c3df;" color-on-scroll="400">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand" href="">
            <img src="/assets/img/isim.png" alt="medenine" width="50" height="50" class="me-2">
              ISIMedenine</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" 
            aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
            <ul class="nav justify-content-end">
              
              <li class="nav-item">
                <a class="nav-link smooth-scroll" href="/core/actualites">Actualités</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link smooth-scroll" href="/core/formation">Formation</a>
                </li>
   
                <li class="nav-item">
                 <a class="nav-link smooth-scroll" href="/core/dep">Département</a>
               </li>
   
               <li class="nav-item">
                 <a class="nav-link smooth-scroll" href="/core/contact">Contact</a>
               </li>
   
               <li class="nav-item">
                 <a class="nav-link smooth-scroll" href="/core/connecter">Connecter</a>
               </li>
            </ul>
            <div   style="background: none;background-color: transparent;">
            <img src="/assets/img/gabes.png" alt="medenine" width="60" height="60" class="me-2">
            </div>
          </div>
        </div>
      </nav>
    </div>
    
          
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
  </header>
  