<!--<footer>
    <div class="text-center text-muted">
    <p>&copy; All rights reserved for Institut Supérieur de l'Informatique Medenine.
    </p>
  </div>
</footer>-->
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<footer class="footer-distributed">


			<div class="footer-center">

				<div>
					<i class="fas fa-map-marker-alt"></i>
					<p><span>Route Djerba km3, B.P 283 Medenine 4100</span> Medenine,Tunisie</p>
				</div>

				<div><i class="fas fa-phone-alt"></i>
					<p>+216 75 641 716</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a>isim@isim.rnu.tn</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Me</span>
					 </p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/ISIMEDenine"><i class="fab fa-facebook-f"></i></a>

				</div>

			</div>

		</footer>
        </body>
</html>