<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<div class="wrapper">
	<div class="content">
<div class="footerTop">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center suivez-nous" id="footer_social_networks">
				<span class="description_footer_top" style="color: white;">
					LA VIE ÉTUDIANTE CONTINUE SUR LES RÉSEAUX SOCIAUX !</span>
				<a href="https://www.facebook.com/ISIMEDenine" target="_blank" style="color: #005870;">
					<i class="fab fa-facebook"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="footer-distributed">


	<div class="footer-center">
		<img src="/assets/img/isim.png" alt="medenine" width="250" height="250" class="me-2">
		<div>
			<i class="fas fa-map-marker-alt"></i>
			<p><span>Route Djerba km3, B.P 283 Medenine 4100</span> Medenine,Tunisie</p>
		</div>

		<div><i class="fas fa-phone-alt"></i>
			<p>+216 75 641 716<br>+216 75 648 770</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a>isim@isim.rnu.tn</a></p>
		</div>

	</div>

	<div class="footer-right">
        <div class="hi">
			<H5 style="color: #59c3df;"><strong>INSTITUTE</strong></H5>
			<a class="nav-link" href="/core/propos">▶ A propos de ISIM</a>			
			<a class="nav-link" href="/core/conseil">▶ Conseil scientifique</a>
			<a class="nav-link" href="/core/activites">▶ Nos activités</a>
		</div>
		<br>
		<div class="hi">
			<H5 style="color: #59c3df;"><strong>ETUDIANTS</strong></H5>
			<a class="nav-link" href="/core/club">▶ Club</a>
		</div>
		<br>
		<div class="hi">
			<H5 style="color: #59c3df;"><strong>DEPARTEMENT</strong></H5>
			<a class="nav-link" href="/core/si">▶ SI</a>
			<a class="nav-link" href="/core/tic">▶ TIC</a>
		</div>
	</div>
</div></div>