<section class="page-header">
    <div class="page-header-bg"
        style="background-image: url(/img/1.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>Actualités</h1>
            
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Actualités</div>


                <div>
                    <p></p>
                    <div class="gl-title-left-blue-no-shadow">Articles</div>

                    
                </div>


            </div>
        </div>
    </div>
</section>