<section class="page-header">
    <div class="page-header-bg" style="background-image: url(/img/10.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1 style="color: white;">Actualités</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Actualités</div>

                <div>
                    <p></p>
                    <div class="gl-title-left-blue-no-shadow">Articles</div>
<br>
                    <div class="actualites-container">
                        <div class="actualite">
                            <div class="date">
                                <span class="jour">19 </span>
                                <span class="mois">Mars </span>
                                <span class="heure">14:06</span>
                            </div>
                            <div class="contenu">
                                <h2>WORKSHOP AGRICULTURE 4.0</h2>
                                <p>WORKSHOP AGRICULTURE 4.0.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <div class="actualite">
                            <div class="date">
                                <span class="jour">10 </span>
                                <span class="mois">Mars </span>
                                <span class="heure">09:50</span>
                            </div>
                            <div class="contenu">
                                <h2>CALENDRIER DES DS1 (SEMESTRE 2) A.U:2024-2025</h2>
                                <p>Calendrier des DS1 (Semestre 2) pour l'année 2024-2025.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <div class="actualite">
                            <div class="date">
                                <span class="jour">27 </span>
                                <span class="mois">Février </span>
                                <span class="heure">12:13</span>
                            </div>
                            <div class="contenu">
                                <h2>بلاغ لكافة الطلبة</h2>
                                <p>إعلان هام لجميع الطلبة.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <div class="actualite">
                            <div class="date">
                                <span class="jour">26 </span>
                                <span class="mois">Février </span>
                                <span class="heure">16:06</span>
                            </div>
                            <div class="contenu">
                                <h2>Liste Des Projets MP2-ILC :2024-2025</h2>
                                <p>Liste des projets MP2-ILC pour l'année universitaire 2024-2025.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <div class="actualite">
                            <div class="date">
                                <span class="jour">26 </span>
                                <span class="mois">Février </span>
                                <span class="heure">14:13</span>
                            </div>
                            <div class="contenu">
                                <h2>Explication pour les méthodes de calcul des moyennes par matière</h2>
                                <p>Explication pour les méthodes de calcul des moyennes par matière.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <div class="actualite">
                            <div class="date">
                                <span class="jour">25 </span>
                                <span class="mois">Février </span>
                                <span class="heure">09:29</span>
                            </div>
                            <div class="contenu">
                                <h2>توقيت حصص التدريس خلال شهر رمضان المبارك</h2>
                                <p>توقيت حصص التدريس خلال شهر رمضان المبارك.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <div class="actualite">
                            <div class="date">
                                <span class="jour">24 </span>
                                <span class="mois">Février </span>
                                <span class="heure">16:43</span>
                            </div>
                            <div class="contenu">
                                <h2>Liste des projets L3GLSI :2024-2025</h2>
                                <p>Liste des projets L3GLSI :2024-2025.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>
                        <!-- Nouvelle Actualité: 21 Février 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 21 </span>
                                <span class="mois"> Février </span>
                                <span class="heure">13:42</span>
                            </div>
                            <div class="contenu">
                                <h2>Booster votre productivité grâce à l'intelligence artificielle</h2>
                                <p>Booster votre productivité grâce à l'intelligence artificielle.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 14 Février 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 14 </span>
                                <span class="mois"> Février </span>
                                <span class="heure">14:31</span>
                            </div>
                            <div class="contenu">
                                <h2>Competitive Programming Competition</h2>
                                <p>Competitive Programming Competition.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 11 Février 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 11 </span>
                                <span class="mois"> Février </span>
                                <span class="heure">11:51</span>
                            </div>
                            <div class="contenu">
                                <h2>بلاغ لكافة الطلبة</h2>
                                <p>بلاغ لكافة الطلبة.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 10 Février 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 10 </span>
                                <span class="mois"> Février </span>
                                <span class="heure">09:50</span>
                            </div>
                            <div class="contenu">
                                <h2>Mise À Jour Emploi Du Temps V11-02-2025 (Changement Des Salles)</h2>
                                <p>Mise À Jour Emploi Du Temps V11-02-2025 (Changement Des Salles).</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 06 Février 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 06 </span>
                                <span class="mois"> Février </span>
                                <span class="heure">12:13</span>
                            </div>
                            <div class="contenu">
                                <h2>بلاغ لكافة طلبة السنوات النهائية اجازة علوم اعلامية السنة الجامعية 2024-2025</h2>
                                <p>بلاغ لكافة طلبة السنوات النهائية اجازة علوم اعلامية السنة الجامعية 2024-2025.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 30 Janvier 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 30 </span>
                                <span class="mois"> Janvier </span>
                                <span class="heure">16:06</span>
                            </div>
                            <div class="contenu">
                                <h2>Day Of Certifications</h2>
                                <p>Lien : https://forms.gle/GT1tRXoN6jQpom5Q8.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 24 Janvier 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 24 </span>
                                <span class="mois"> Janvier </span>
                                <span class="heure">14:13</span>
                            </div>
                            <div class="contenu">
                                <h2>Emplois Du Temps Semestre-2 Vf.27-01-2025 AU 2024-2025</h2>
                                <p>Emplois Du Temps Semestre-2 Vf.27-01-2025 AU 2024-2025.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 23 Janvier 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 23 </span>
                                <span class="mois"> Janvier </span>
                                <span class="heure">09:29</span>
                            </div>
                            <div class="contenu">
                                <h2>CALENDRIER DES EXAMENS SESSION DE RATTRAPAGE (SEMESTRE 1) A.U:2024-2025</h2>
                                <p>CALENDRIER DES EXAMENS SESSION DE RATTRAPAGE (SEMESTRE 1) A.U:2024-2025.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 22 Janvier 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 22 </span>
                                <span class="mois"> Janvier </span>
                                <span class="heure">16:43</span>
                            </div>
                            <div class="contenu">
                                <h2>Procédure D’utilisation De Compte Office 365</h2>
                                <p>Procédure D’utilisation De Compte Office 365.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 11 Janvier 2025 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 11 </span>
                                <span class="mois"> Janvier </span>
                                <span class="heure">22:31</span>
                            </div>
                            <div class="contenu">
                                <h2>Emploi Du Temps Semestre 2 V13-01-2025</h2>
                                <p>Emploi Du Temps Semestre 2 V13-01-2025.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 25 Décembre 2024 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 25 </span>
                                <span class="mois"> Décembre </span>
                                <span class="heure">11:39</span>
                            </div>
                            <div class="contenu">
                                <h2>CALENDRIER DES EXAMENS (SEMESTRE 1) A.U:2024-2025</h2>
                                <p>CALENDRIER DES EXAMENS (SEMESTRE 1) A.U:2024-2025.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                        </div>

                        <!-- Nouvelle Actualité: 20 Décembre 2024 -->
                        <div class="actualite">
                            <div class="date">
                                <span class="jour"> 20 </span>
                                <span class="mois"> Décembre </span>
                                <span class="heure">11:18</span>
                            </div>
                            <div class="contenu">
                                <h2>بلاغ لكافة الطلبة</h2>
                                <p>بلاغ لكافة الطلبة.</p>
                                <a href="../assets/img/work.pdf" target="_blank" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor" style="color: #005870;">Plus de Détails ➝</a>
                            </div>
                            
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</section>