<section class="page-header">
    <div class="page-header-bg" style="background-image: url(/img/5.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>Formation</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i> • </a>
                </li>
                <li>
                    <a href="/core/formation">Formation </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Formation</div>
                <nav class="crumbs">
                    <ol>
                        <li class="crumb"><a href="../core/formation" style=" color:#6BB2C5;">Licence LSI</a></li>
                        <li class="crumb"><a href="../core/for1" style=" color:#6BB2C5;">Licence LTIC </a></li>
                        <li class="crumb"><a href="../core/for2" style=" color:#6BB2C5;">Master MP II</a></li>
                        <li class="crumb"><a href="../core/for3" style=" color:#6BB2C5;">Master MPILC </a></li>
                        <li class="crumb"><a href="../core/for4" style=" color:#6BB2C5;">Master MREESC </a></li>
                    </ol>
                </nav>
                <br>

                <h2 class="gl-title-left-blue-no-shadow">Master Professionnel en Informatique Industielle : Informatique
                    industrielle [MP II]</h2>
                <br>
                <ol>

                    <li><strong>Objectifs:</strong></li>
                    <p>
                    <ul class="tick">
                        <p style="color: #837D7D;">Plusieurs enjeux ont été considérés pour proposer le mastère
                            professionnel en informatique industrielle: Etudier les régimes du neutre.</p>
                        <li>Comprendre le fonctionnement des éléments de protection.</li>
                        <li>Connaître le fonctionnement des bobines et transformateurs sous les aspects fonctionnels et
                            technologiques.</li>
                        <li>Comprendre le principe et le fonctionnement des machines à courant continu.</li>
                        <li>Connaître le principe de fonctionnement des machines synchrones et asynchrones.</li>
                        <li>Maîtriser le fonctionnement des convertisseurs AC-DC, DC-DC et DC-AC.</li>
                    </ul>


                    <li><strong>Contenu:</strong></li>
                    <p>
                    <ul class="tick">
                        <p style="color: #837D7D;">Les enseignements :</p>
                        <li>Risques de courants électriques.</li>
                        <li>Identification des régimes du neutre.</li>
                        <li>Le fonctionnement des dispositifs de protection.</li>
                        <li>Transformateur monophasé et triphasé.</li>
                        <li>Machines électriques à courant continu et alternatif.</li>
                        <li>Composants électroniques de puissance.</li>
                        <li>Convertisseurs AC-DC, DC-DC et DC-AC à changement de fréquences.</li>
                        <li>Régime de neutre TT , TN , IT.</li>
                        <li>Relevé de la courbe du déclenchement d’un disjoncteur.</li>
                        <li>Protection des installations électriques industrielles et recherche de défauts.</li>
                        <li>Redresseurs à diodes et à thyristors.</li>
                        <li>Hacheur série et Hacheur parallèle.</li>
                        <li>Onduleur triphasé et machine asynchrone.</li>
                        <li>Transformateur monophasé et triphasé.</li>
                        <li>Alternateur synchrone triphasé.</li>
                        <li>Machine à CC avec mode d’exécution.</li>
                    </ul>
                    <li><strong>Perspectives:</strong></li>

                    <p>

                    </p>

                    <li><strong>Programme:</strong></li>
                    <p>

                    <div class="embed-container">
                        <iframe src="../assets/img/MPII.pdf">
                        </iframe>
                    </div>


                </ol>


            </div>

            
        </div>
    </div>

</section>