<section class="page-header">
    <div class="page-header-bg"
        style="background-image: url(/img/4.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>Activités</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i> • </a>
                </li>
                <li>
                    <a href="/core/activites">Nos activités </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Nos Activités</div>


                <div>
                    <div class="gl-title-left-blue-no-shadow">يوم تحسيسي - رمضانيات صحية-</div>
                    <p>في اطار الاتفاقية المبرمة بين وزارة التعليم العالي و البحث العلمي ووزارة الصحة ينظم المعهد العالي
                        للاعلامية بمدنين يوما تحسيسيا و تثقيفيا لفائدة الطلبة تحت شعار رمضانيات صحية و ذلك يوم الخميس 06
                        مارس 2025.

                    </p>
                    <img src="/assets/img/ramadan.png" alt="medenine" width="400" height="400" class="me-2">
                    <img src="/assets/img/ramadan1.png" alt="medenine" width="400" height="400" class="me-2">
                </div>
                <br>
                <div>
                    <div class="gl-title-left-blue-no-shadow">Organisation Hackathon ISIMED v2.0</div>
                    <p> l'ISIMED organisera la deuxieme edition de Hackathon "TIC pour le développement durable et
                        innovations" qui aura lieu à L'ISIMED le 17 Novembre 2024.
                    </p>
                    <img src="/assets/img/hv2.0.png" alt="medenine" width="500" height="500" class="me-2">
                </div>
                <br>
                <div>
                    <div class="gl-title-left-blue-no-shadow">Organisation de "Day of Certifications"</div>
                    <p> l'ISIMED organisera une journée pour informer les étudiants sur l importance des certifications et planifier des session de formations. 
                        Cette évènement aura lieu à L'ISIMED le 18 Décembre 2024.
                    </p>
                    <img src="/assets/img/dayofcertif.png" alt="medenine" width="500" height="500" class="me-2">
                </div>
            </div>
        </div>
    </div>
</section>