<section class="page-header">
    <div class="page-header-bg"
        style="background-image: url(/img/7.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>Connecter</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i> • </a>
                </li>
                <li>
                    <a href="/core/connecter">Connecter </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Connecter</div>
</div>
</div>
</div>
</section>