<section class="page-header">
    <div class="page-header-bg" style="background-image: url(/img/3.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>Contact</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Nos Coordonnées</div>
                <div class="contact">
                    <section class="contact-info">
                        <p><strong>Adresse : </strong> Route Djerba Km 3, B.P 283, Médenine 4100, Tunisie</p>
                        <p><strong>Téléphone : </strong> <a href="tel:‪+21675641716‬" style="color: #005870;">‪+216
                                75 641 716‬</a></p>
                        <p><strong>Fax : </strong> <a href="tel:‪+21675648770‬" style="color: #005870;">‪+216 75 648
                                770‬</a></p>
                        <p><strong>Email : </strong> <a href="mailto:isim@isim.rnu.tn"
                                style="color: #005870;">isim@isim.rnu.tn</a></p>
                        <p><strong>Horaires : </strong> Lun-Ven: 8h30-17h30 | Sam: 8h30-13h | Dim: Fermé</p>
                    </section>
                </div>

            </div>
            <div class="containerPage ">
                <div class="PageTitle">Envoyer un message</div>
                <br>

                <section class="contact-form">
                    <form onsubmit="return envoyerMessage(event)">
                        <input type="text" id="nom" placeholder="Votre nom" required>
                        <input type="email" id="email" placeholder="Votre mail" required>
                        <input type="text" id="sujet" placeholder="Sujet" required>
                        <textarea id="message" rows="5" placeholder="Votre message" required></textarea>
                        <button type="submit">Envoyer</button>
                    </form>
                    <p id="confirmation" style="color: green;"></p>
                </section>

            </div>
            <div class="containerPage ">
                <div class="PageTitle">Notre Localisation </div>
                <br>
                <section class="map">

                    <iframe
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDjz5AOLsut-h6NKpDIUMq1RcYfEYuPi64&q=Isimed+tunisie"
                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </section>
            </div>
        </div>
    </div>
</section>