<section class="page-header">
    <div class="page-header-bg"
        style="background-image: url(/img/2.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>A propos de ISIM</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Missions & Objectifs</div>
                <div>
                    <div class="gl-title-left-blue-no-shadow"></div>
                    <div class="nav-item">
                        <a class="nav-link" target="_blank">
                            <p>
                                L’institut supérieur d’informatique de Médenine (ISIMEDenine) crée en 2006, en vertu du décret numéro
                                1587-2006 du 06 Juin 2006,
                                l' ISIM a pour mission de former des étudiants capables de concevoir et de réaliser des projets en
                                informatique
                                conformément aux besoins des utilisateurs et des entreprises.
                                Il comporte deux départements :
                                - Le département de l’informatique industrielle
                                - Le département de l’informatique et multimédia
                                Doté des équipements de pointe pour la professionnalisation ;
                                les laboratoires au sein de l’institut permet aux étudiants d’acquérir
                                des connaissances plus pratiques et de se spécialiser dans des domaines bien précis.
                            </p>
                            <img src="/assets/img/inst.png" >
                    
                        </a>
                    </div>
    
                </div>

            </div>
        </div>
    </div>
</section>