<table>
<td>
    <tr>Crée en 2006, en vertu du décret numéro 1587-2006 du 06 Juin 2006, </tr>
    <tr>l’institut supérieur d’informatique de Médenine a pour mission de former </tr>
    <tr>des étudiants capables de concevoir et de réaliser des projets en informatique </tr>
    <tr>conformément aux besoins des utilisateurs et des entreprises.</tr>
    <tr> Il comporte deux départements :</tr>
    <tr>
    - Le département de l’informatique industrielle</tr>
    <tr>
    - Le département de l’informatique et multimédia</tr>
    <tr>
    Doté des équipements de pointe pour la professionnalisation ;</tr>
    <tr> les laboratoires au sein de l’institut permet aux étudiants d’acquérir</tr> 
    <tr>des connaissances plus pratiques et de se spécialiser dans des domaines bien précis.</tr>
</td>
<td> <img src="/client/src/assets/img/inst.jpg"></td>
</table>