<section class="page-header">
    <div class="page-header-bg" style="background-image: url(/img/5.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>Formation</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i> • </a>
                </li>
                <li>
                    <a href="/core/formation">Formation </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Formation</div>
                <nav class="crumbs">
                    <ol>
                        <li class="crumb"><a href="../core/formation" style=" color:#6BB2C5;">Licence LSI</a></li>
                        <li class="crumb"><a href="../core/for1" style=" color:#6BB2C5;">Licence LTIC </a></li>
                        <li class="crumb"><a href="../core/for2" style=" color:#6BB2C5;">Master MP II</a></li>
                        <li class="crumb"><a href="../core/for3" style=" color:#6BB2C5;">Master MPILC </a></li>
                        <li class="crumb"><a href="../core/for4" style=" color:#6BB2C5;">Master MREESC </a></li>
                    </ol>
                </nav>
                <br>

                <h2 class="gl-title-left-blue-no-shadow">Master Recherche en Telecom : Electroniques embarquées et
                    systèmes de Communication [MREESC]</h2>
                <br>
                <ol>

                    <li><strong>Objectifs:</strong></li>
                    <p>
                    <ul class="tick">
                        <p style="color: #837D7D;">Le Mastère « Electronique embarquée et systèmes de communication
                            (EESC) » assure une formation originale de très haut niveau axée sur les nouvelles
                            technologies de l’information et de la communication (TIC). Plusieurs enjeux ont été
                            considérés pour proposer le mastère de recherche électronique embarquée et systèmes de
                            communications :</p>
                        <li>Ce mastère constitue le complément de la formation des étudiants issus de la licence
                            fondamentale en STIC et la licence professionnelle en informatique industrielle (parcours
                            systèmes embarqués) dans le cadre du cursus LMD. Il profite de l’expérience du corps
                            enseignant de l’ISIMED et de son référentiel de compétences.</li>
                        <li>Préparer les étudiants à l’intégration du monde de travail en prenant en compte les
                            spécificités du secteur industriel régional et national en matière de main d’œuvre qualifiée
                            en technologie de l’information et de la communication (industries agroalimentaires,
                            pétrochimies, systèmes industriels automatisés, transports, industries manufacturières,
                            télécommunications, industries textiles, industries énergétiques …)</li>
                        <li>Garantir une veille technologique via des unités d’enseignement en relation avec les
                            actuelles tendances technologiques en communications hautes débits et hautes fréquences.
                        </li>
                    </ul>


                    <li><strong>Contenu:</strong></li>
                    <p>
                    <ul class="tick">
                        <p style="color: #837D7D;">Ce parcours permettra au diplômé:</p>
                        <li>Appréhender les normes de transmissions numériques et les technologies d'accès radio
                            (GSM/GPRS, UMTS, WiFi, LTE).</li>
                        <li>Concevoir et intégrer des Front End radio pour la mise en œuvre des systèmes de
                            télécommunications hyperfréquences.</li>
                        <li>Dimensionner des liaisons et des réseaux sans fils associés aussi bien au niveau terrestre
                            que spatial.</li>
                        <li>Caractériser des technologies et systèmes de télécommunications radio et hyperfréquences.
                        </li>
                        <li>Assurer l’ingénierie de réseaux de télécommunications.</li>
                        <li>Conceptualiser et réaliser la gestion globale d’un projet.</li>
                    </ul>
                    <li><strong>Perspectives:</strong></li>

                    <p>
                    <ul class="tick">
                        <p style="color: #837D7D;">Ce master prépare les étudiants aux carrières de la Recherche et
                            Développement :</p>
                        <li>Pour ceux qui voudront continuer leurs études en thèse, les carrières de la recherche et de
                            l'enseignement supérieur leur seront ouvertes.</li>
                        <li>A l’issue du ce Mastère, les étudiants pourront devenir par exemple des ingénieurs réseaux,
                            ingénieurs en systèmes embarqués/temps réel, des développeurs de systèmes de
                            télécommunications ou des administrateurs de réseaux et systèmes.</li>
                        <li>Les diplômés travaillent chez des équipementiers, des opérateurs et des sociétés qui
                            utilisent ou déploient des réseaux et services d’Internet et mobiles.</li>
                    </ul>

                    <li><strong>Programme:</strong></li>
                    <p>

                        <div class="embed-container">
                            <iframe src="../assets/img/MREESC.pdf" width="100%" height="100%" style="border: none;">
                            </iframe>
                          </div>
                          


                </ol>


            </div>

            
        </div>
    </div>

</section>