<section class="page-header">
    <div class="page-header-bg" style="background-image: url(/img/6.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>MREESC</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i> • </a>
                </li>
                <li>
                    <a href="/core/dep">Département </a>
                </li>
                <li>
                    <a href="">• </a>
                </li>
                <li>
                    <a href="/core/si">MREESC</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<body>

    <div class="sidebar">
        <div class="PageTitle">Département</div>
        <div>
            <div class="gl-title-left-blue-no-shadow"></div>
            <p>
            </p>
            <ul>
                <li><a href="../si">› SI</a></li>
                <li><a href="../tic">› TIC</a></li>
                <li><a href="../mpii">› MPII</a></li>
                <li><a href="../mpilc">› MPILC</a></li>
                <li><a href="../mreesc">› MREESC</a></li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <h1>Electroniques embarquées et systèmes de Communication</h1>
        <div class="divider"></div>

        <div class="profile-card">
            <img src="../assets/img/profile.png" alt="Profile">
            <h3>Mme Selmi Sawsen</h3>
            <p>E-mail : ...@gmail.com</p>
        </div>
        <div class="Archive-des-examens">
            <h2>Archive des Examens</h2>
            <div class="underline"></div>
            <p>
                <STRONG>
                    <a download="DEVOIR" href="../assets/img/77.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC1.PDF</a>
                    <BR>

                    <a download="DEVOIR" href="../assets/img/86.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC1.PDF</a><BR>
                    <a download="DEVOIR" href="../assets/img/87.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC1.PDF</a><BR>
                    <a download="DEVOIR" href="../assets/img/88.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC1.PDF</a><BR>

                    <a download="DEVOIR" href="../assets/img/79.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC1.PDF</a><BR>

                    <a download="DEVOIR" href="../assets/img/82.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC1.PDF</a><BR>
                    <a download="DEVOIR" href="../assets/img/83.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC1.PDF</a>
                    <BR>
                    <a download="DEVOIR" href="../assets/img/84.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC1.PDF</a>
                    <BR>
                    <a download="DEVOIR" href="../assets/img/78.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC2.PDF</a><BR>
                    <a download="DEVOIR" href="../assets/img/80.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC2.PDF</a><BR>
                    <a download="DEVOIR" href="../assets/img/81.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC2.PDF</a><BR>

                    <a download="DEVOIR" href="../assets/img/85.pdf" style="color: black;" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">⬇MREESC2.PDF</a>

                </STRONG>
            </p>

        </div>
        <br>
        <div class="Enseignant">
            <h2>Enseignant</h2>
            <div class="underline"></div>

            <div class="teachers-container">
                <div class="teacher-card" *ngFor="let teacher of paginatedTeachers">
                    <img [src]="teacher.image" [alt]="teacher.name" class="card-image">
                    <div class="card-body">
                        <div class="teacher-name">{{teacher.name}}</div>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <button class="page-btn" (click)="changePage('first')" [disabled]="currentPage === 1">
                    &lt;&lt;
                </button>
                <button class="page-btn" (click)="changePage('prev')" [disabled]="currentPage === 1">
                    &lt;
                </button>

                <button *ngFor="let page of [].constructor(totalPages); let i = index" class="page-btn"
                    [class.active]="currentPage === i+1" (click)="changePage(i+1)">
                    {{i+1}}
                </button>

                <button class="page-btn" (click)="changePage('next')" [disabled]="currentPage === totalPages">
                    &gt;
                </button>
                <button class="page-btn" (click)="changePage('last')" [disabled]="currentPage === totalPages">
                    &gt;&gt;
                </button>
            </div>

            <div>{{paginationInfo}}</div>
        </div>
    </div>
</body>