<section class="page-header">
  <div class="page-header-bg"
      style="background-image: url(/img/2.png)" alt="">
  </div>
  <div class="container">
      <div class="page-header__inner">
          <h1>Bienvenue a ISIMedenine </h1>

      </div>
  </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Home</div>
                <div>
                    <div class="gl-title-left-blue-no-shadow"></div>
                    <div class="nav-item">
                        <a href="/core/propos" style="background: url('/assets/img/inst2.png') no-repeat center/cover;" target="_blank" class="card">
                            <h3>A propos</h3>
                        </a>
                
                        <a href="/core/actualites" style="background: url('/assets/img/1.png') no-repeat center/cover;"target="_blank" class="card">
                            <h3>Actualites</h3>
                        </a>
                
                        <a href="/core/formation" style="background: url('/assets/img/5.png') no-repeat center/cover;"target="_blank" class="card">
                            <h3>Formation</h3>
                        </a>
                        
                        <a href="/core/activites" style="background: url('/assets/img/4.png') no-repeat center/cover;"target="_blank" class="card">
                            <h3>Nos Activités</h3>
                        </a>
                        
                        <a href="/core/contact" style="background: url('/assets/img/3.png') no-repeat center/cover;" target="_blank" class="card">
                            <h3>Contact</h3>
                        </a>
                        <a href="/core/dep" style="background: url('/assets/img/6.png') no-repeat center/cover;" target="_blank" class="card">
                            <h3>Département</h3>
                        </a>
                        <a href="/core/conseil" style="background: url('/assets/img/8.png') no-repeat center/cover;" target="_blank" class="card">
                            <h3>Conseil scientifique</h3>
                        </a>
                        <a href="/core/club" style="background: url('/assets/img/9.png') no-repeat center/cover;" target="_blank" class="card">
                            <h3>Club</h3>
                        </a>
                        <a href="/core/connecter" style="background: url('/assets/img/7.png') no-repeat center/cover;" target="_blank" class="card">
                            <h3>Connecter</h3>
                        </a>
                    </div>
    
                </div>

            </div>
        </div>
    </div>
</section>

