<section class="page-header">
    <div class="page-header-bg" style="background-image: url(/img/5.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>Formation</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Formation</div>
                <nav class="crumbs">
                <ol><STRONG>
                    <li class="crumb"><a href="../core/formation" style=" color:#6BB2C5;">Licence LSI</a></li>
                    <li class="crumb"><a href="../core/for1" style=" color:#6BB2C5;">Licence LTIC </a></li>
                    <li class="crumb"><a href="../core/for2" style=" color:#6BB2C5;">Master MP II</a></li>
                    <li class="crumb"><a href="../core/for3" style=" color:#6BB2C5;">Master MPILC </a></li>
                    <li class="crumb"><a href="../core/for4" style=" color:#6BB2C5;">Master MREESC </a></li>
                </STRONG></ol>
                </nav>
 <br>

                <h2 class="gl-title-left-blue-no-shadow">Licence en Sciences Exactes et Technologies : Science de l’Informatique "Computer Science" [LSI]</h2>
                <br>
                <ol>
                    <li>Objectifs:</li>
                    <p>
                    </p>
                    <li>Contenu:</li>
                    <p>
                    </p>
                    <li>Perspectives:</li>
                    <p>
                    </p>
                    <li>Programme:</li>
                    <p>
                        <div class="embed-container">
                            <iframe src="../assets/img/LSI.pdf">                             
                            </iframe>
                          </div>
                </ol>


            </div>

            
        </div>
    </div>

</section>