<section class="page-header">
    <div class="page-header-bg"
        style="background-image: url(/img/8.png)" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h1>Conseil scientifique</h1>
            <ul class="thm-breadcrumb list-unstyled" id="breadcrumbs">
                <li>
                    <a href=""><i class="fa fa-home"></i> </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container">
        <div class="row">

            <div class="containerPage ">
                <div class="PageTitle">Conseil scientifique</div>


                <div>
                    <p></p>
                    <div class="gl-title-left-blue-no-shadow">Directeur</div>

                    <ul class="tick">
                        <li><b>Bouchouicha Dhaoi</b></li>
                    </ul>

                    <div class="gl-title-left-blue-no-shadow">Secrétaire Général</div>

                    <ul class="tick">
                        <li><b>Bourguiba Mehrez</b></li>
                    </ul>
                    <div class="gl-title-left-blue-no-shadow">Les directeurs de départements</div>

                    <ul class="tick">
                        <li><strong>SI : </strong>Mr Ben Othmen Soufien</li>
                        <li><strong>TIC : </strong>Mme Selmi Sawsen</li>
                        <li><strong>MPII : </strong>Mme Selmi Sawsen</li>
                        <li><strong>MPILC : </strong>Mr Ben Othmen Soufien</li>
                        <li><strong>MREESC : </strong>Mme Selmi Sawsen</li>
                    </ul>


                </div>


            </div>
        </div>
    </div>
</section>